@model tpvoiture.Models.Voiture

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="matricule" class="control-label"></label>
                <input asp-for="matricule" class="form-control" />
                <span asp-validation-for="matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nbr_portes" class="control-label"></label>
                <input asp-for="nbr_portes" class="form-control" />
                <span asp-validation-for="nbr_portes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nbr_places" class="control-label"></label>
                <input asp-for="nbr_places" class="form-control" />
                <span asp-validation-for="nbr_places" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo_1" class="control-label"></label>
                <input type="file" name="image" asp-for="photo_1" class="form-control" />
                <span asp-validation-for="photo_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="couleur" class="control-label"></label>
                <input type="color"  asp-for="couleur" class="form-control" />
                <span asp-validation-for="couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarqueId" class="control-label"></label>
                <select asp-for="MarqueId" class="form-control" asp-items="ViewBag.MarqueId"></select>
                <span asp-validation-for="MarqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
