@model tpvoiture.Models.Assurance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="agence" class="control-label"></label>
                <input asp-for="agence" class="form-control" />
                <span asp-validation-for="agence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_debut" class="control-label"></label>
                <input asp-for="date_debut" class="form-control" />
                <span asp-validation-for="date_debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_fin" class="control-label"></label>
                <input asp-for="date_fin" class="form-control" />
                <span asp-validation-for="date_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prix" class="control-label"></label>
                <input asp-for="prix" class="form-control" />
                <span asp-validation-for="prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoitureId" class="control-label"></label>
                <select asp-for="VoitureId" class ="form-control" asp-items="ViewBag.VoitureId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
